/*colors

#FF8600 bright orange
#0081b2 dark blue
#0091C9
#00b8ff neon blue

*/

/*PARAGRAPH*/
*{
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;

}

.logo-1{
	width: 80%;
	padding: .5rem 1.5rem;
}


/*TOP BAR*/
.top-bar{
	background-color: #FF8600;
	height: 3.5rem;
}

/*top bar hover*/
.top-bar-section li:not(.has-form) a:not(.button):hover{
	background-color: #0091C9;
}

/*active tab*/
.top-bar-section li.active:not(.has-form) a:not(.button){
	background-color: #00b8ff;
	    line-height: 3.5rem;
}

/*ul expanded title area*/
.top-bar.expanded .title-area{
	background-color: #FF8600;
}

/*right nav*/
.top-bar-section li:not(.has-form) a:not(.button){
	background-color: #FF8600;
	height: 3.5rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    font-family: balboa-plus-fill, sans-serif;
	font-style: normal;
	font-weight: 600;
}

.breadcrumbs{
	margin-bottom: 0;
}

/*HOMEPAGE*/
.main .orbit-container{
	background-image: url("../img/table-pattern-mural.jpg");
	background-size: cover;
}

/*orbit text*/
.group{
	padding: 5rem;	
}
.group .product-title, .group .product-price{
	color: #fff;
}

.group .product-price{
	color: purple;
	font-size: 2.5rem;
	background-color: transparent;
}

.product-price{
	font-size: 1.5rem;
}

/*PRODUCT PRICE*/
.product-price span, .small-price{
	border-bottom: 3px solid #00b8ff;
}

/*TAG*/
.main .product-title span{
	position: relative;
	left: 0%;
	bottom: 50%;
}




/*FOOTER*/
footer{
	 background-color: #f7f7f7;
	 padding: 2rem;
	 border-bottom: 5px solid #0091C9;
}

footer .fa{
	font-size: 2rem;
	line-height: 4;
	color: #00b8ff;

}

footer .sock-logo{
	width: 55%;
}

/* footer desc */
.description{
	font-size: 1.5rem;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	/*border-bottom: 1px solid red;*/

}

/*icon bar*/
.icon-bar > *{
	background-color: #00b8ff;
}



h1{
	font-weight: 800;
}

.main img{
	width: 100%;
}
.main .column{
	padding: 0;
}
/*PRODUCT GRID*/
/*PAGES */

.all-content{
	padding: 3.5rem 0;
}

/*product title*/
.product-title{
	font-weight: 800;
	font-size: 2rem;
}

/*ag*/
.product-title span{
	font-weight: 400;
	font-size: 1rem;
	background-color: yellow;
	color: #fff;
}

/*inner tag position*/
.tags{
	position: absolute;
	top: 6%;
	left: 50%;
	transform: rotate(-5deg);
	
}

.button{
	background-color: #FF8600;
    border-color: #FF8600;
}

.product-title a{
	color: #000;
}

.product-description{
	padding: 1.5rem 0rem;
}

.product-grid .panel{
	background-color: #fff;
	border-color: #FF8600;

}

.products{
	margin: 2rem 0 0 0;
}

/*RELATED*/
aside h1{
	font-weight: 100;
	font-size: 2.5rem;
}

/*INNER PAGES TITLE*/
.hero-title{
	padding: 3.5rem 0;
	color: #fff;
}

.hero-title-c{
	background: url("../img/cropped-index-bg.jpg");
	background-size: cover;
}

.hero-title-360{
	background: url("../img/hope-tiles-mural.jpg");
	background-size: cover;
}

.hero-title-colors{
	background: url("../img/shirt-pattern-mural.jpg");
	background-size: cover;
}

.hero-title-shop{
	background: url("../img/table-pattern-mural.jpg");
	background-size: cover;
}

/*HERO TITLE*/
.product-page-h1{
	color: #FFF;
	font-weight: 800;
}

.product-page-h1 span{
	border-bottom: 5px solid #FF8600;
}

/*LIMITED ED*/
.limited-spotlight{
	background-color: #00b8ff;
	padding: 2.5rem 0;
	color: #fff;
	
}

/*TAG*/
.tag{
	background-color: yellow;
	padding: .2rem;
}

.tag a{
	color: #000;
}

.panel h4{
	font-weight: 300;
	padding: .5rem 0;
	font-size: 1.25rem;
}

/*LIMITED PANEL*/
.limited-spotlight .panel{
	background-color: #0091C9;
	border: none;

}


.limited-spotlight .panel h4{
	color: #fff;
}

/*ORDER H1*/
.order span{
	border-bottom: 5px solid #00b8ff;
}

.order{
	padding-bottom: 1.5rem;
}

.order-content{
	padding: 2.5rem;
}


/*price*/
.limited-spotlight .panel h5{
	padding: .5rem 0;
}


.limited-spotlight .tag{
	font-size: .75rem;
}

 
/*limited ed h1*/
.spotlight-limited{
	color: #FFF;
	
}

.spotlight-limited span{
	border-bottom: 2px solid #0091C9;
}


/*CONTACT SECTION*/

.contact-form{
	padding: 3.5rem;
	background-color:;
}


/*contant h1*/
.contactpls{
	font-weight: 400;
	color: #FF8600;
}

.contactpls span{
	font-weight: 700;

}

/*labels*/
.sticker{
	font-size: 1.2rem;
	color: #0081b2;
}


